@import "bootstrap";
@import "./mixins";
@import "./variables";
@import "./typography";

* {
  //  margin: 0;
  //  padding: 0;
  //  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  //  max-width: 1200px;
  //  margin: 0 auto;
}

.row {
  //  padding-right: $horizontal-unit;
  //  padding-left: $horizontal-unit;
}

img {
  //  width: 100%;

  &.dog {
  }
}

.btn-primary {
  color: #fff;
  background-color: #500734;
  border-color: #500734;
}

p {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  //  margin-top: 1.5 * $vertical-unit;
  //  margin-bottom: 1.5 * $vertical-unit;
  //  line-height: $vertical-unit;
}

h1 {
  @include fluid-type(
    $min_width,
    $max_width,
    $min_font * $ratio * $ratio * $ratio,
    $max_font * $ratio * $ratio * $ratio
  );
  //margin-top: 1.5 * $vertical-unit;
  //margin-bottom: 1.5 * $vertical-unit;
  //line-height: $vertical-unit * $ratio * $ratio * $ratio;
}

h2 {
  @include fluid-type(
    $min_width,
    $max_width,
    $min_font * $ratio * $ratio,
    $max_font * $ratio * $ratio
  );
  //margin-top: 3 * $vertical-unit;
  //margin-bottom: 1.5 * $vertical-unit;
  //line-height: $vertical-unit * $ratio * $ratio;
}

h3 {
  @include fluid-type(
    $min_width,
    $max_width,
    $min_font * $ratio,
    $max_font * $ratio
  );
  //margin-top: 3 * $vertical-unit;
  //margin-bottom: 1.5 * $vertical-unit;
  //line-height: $vertical-unit * $ratio;
}
