@import "./mixins";
@import "./variables";
@import "./typography";

* {
  margin: 0;
  padding: 0;
  line-height: $base-font * 1.5;
  margin-top: 0;
  margin-bottom: $base-font * 1.5;
  box-sizing: border-box;
  border: 1px dashed grey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  padding-right: $horizontal-unit;
  padding-left: $horizontal-unit;
}

img {
  width: 100%;

  &.dog {
  }
}

p {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h1 {
  @include fluid-type(
    $min_width,
    $max_width,
    $min_font * $ratio * $ratio * $ratio,
    $max_font * $ratio * $ratio * $ratio
  );

  line-height: 1.3;
}

h2 {
  @include fluid-type(
    $min_width,
    $max_width,
    $min_font * $ratio * $ratio,
    $max_font * $ratio * $ratio
  );

  line-height: 1.3;
}

h3 {
  @include fluid-type(
    $min_width,
    $max_width,
    $min_font * $ratio,
    $max_font * $ratio
  );

  line-height: 1.2;
}

h4 {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .flex {
    display: flex;
  }

  p {
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }

  .box {
    width: 50%;

    &.right {
      margin-left: 0.5 * $horizontal-unit;
    }

    &.left {
      margin-right: 0.5 * $horizontal-unit;
    }
    img {
      display: block;
    }

    h1,
    h2,
    h3,
    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .flex {
    display: flex;
  }

  p {
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }
}
