@import "./variables";
@import "./typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; // 16px in most browsers
}

.container {
  max-width: 920px;
  margin: 0 auto;
}

.row {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

img {
  width: 100%;

  &.dog {
  }
}

p {
  font-size: $base-font-size;
}

h1 {
  font-size: $base-font-size * $ratio * $ratio * $ratio;
}

h2 {
  font-size: $base-font-size * $ratio * $ratio;
}

h3 {
  font-size: $base-font-size * $ratio;
}

@media screen and (min-width: 768px) {
  .flex {
    display: flex;
  }

  p {
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }

  .box {
    width: 50%;

    &.right {
    }

    &.left {
    }

    p {
      &:first-child {
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .flex {
    display: flex;
  }

  p {
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }
}
