html {
  font-size: 2vw;
}

body {
  font-size: 20px;
}

.box {
  padding: 0 2em;
  box-sizing: border-box;
  border: 5px solid rgb(168, 81, 0);
}

@media only screen and (min-width: 600px) {
  body {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
  }

  .box {
    width: 50%;
  }

  .container {
    width: 100%;
    display: flex;
  }
}
