$base-font-size: 16px;
$rythm-unit-rem: 16px;

$perfect-fourth: 1.333333333;
$golden: 1.618;

$ratio: $golden;

$margin-left-factor: 0;
$margin-right-factor: 0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: black !important;
  position: relative;
  font-size: 100%; // 16px
  line-height: $rythm-unit-rem; // body line-height should be the vertical rythm unit
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $rythm-unit-rem;
}

.container {
  position: relative;
  z-index: 10;
}

img {
  width: 100%;
}

h1 {
  font-size: $base-font-size;
  line-height: $rythm-unit-rem;
  background-color: rgba(3, 3, 3, 0.1);
  //margin: $rythm-unit-rem;
  //margin-left: $rythm-unit-rem * $margin-left-factor;
  //margin-right: $rythm-unit-rem * $margin-right-factor;
}

h2 {
  font-size: $base-font-size;
  line-height: $rythm-unit-rem;
  background-color: rgba(3, 3, 3, 0.1);
  //margin: $rythm-unit-rem;
  //margin-left: $rythm-unit-rem * $margin-left-factor;
  //margin-right: $rythm-unit-rem * $margin-right-factor;
}

h3 {
  font-size: $base-font-size;
  line-height: $rythm-unit-rem;
  background-color: rgba(3, 3, 3, 0.1);
  //margin: $rythm-unit-rem / ($ratio * $ratio * $ratio);
  //margin-left: $rythm-unit-rem * $margin-left-factor;
  //margin-right: $rythm-unit-rem * $margin-right-factor;
}

p {
  font-size: $base-font-size;
  line-height: $rythm-unit-rem;
  background-color: rgba(3, 3, 3, 0.1);
  //margin: $rythm-unit-rem * $ratio * 0.75;
  //margin-left: $rythm-unit-rem * $margin-left-factor;
  //margin-right: $rythm-unit-rem * $margin-right-factor;
}

//.row {
//  display: flex;
//}

.box {
  //padding: $rythm-unit-rem * 0.25;
  //width: 50%;
  //border: 1px solid red;
  box-sizing: border-box;

  //margin: $rythm-unit-rem;

  p {
    margin-left: 0;
    margin-right: 0;

    // &:first-child {
    //   margin-top: 0;
    // }
  }
}

.grid {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;

  .row {
    height: $rythm-unit-rem;
    border-bottom: 1px solid rgb(185, 185, 185);
  }

  p {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  $base-font-size: 100%;
  $rythm-unit-rem: 1.2rem;

  $perfect-fourth: 1.333333333;
  $golden: 1.618;

  $ratio: $golden;

  $margin-left-factor: 1.25;
  $margin-right-factor: 1.25;

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: $base-font-size; // 16px
    line-height: $rythm-unit-rem; // body line-height should be the vertical rythm unit
  }

  body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $rythm-unit-rem;
  }

  h1 {
    font-size: $base-font-size * $ratio * $ratio * $ratio;
    line-height: $rythm-unit-rem * $ratio * $ratio * $ratio;
    margin: $rythm-unit-rem / $ratio;
    margin-left: $rythm-unit-rem * $margin-left-factor;
    margin-right: $rythm-unit-rem * $margin-right-factor;
  }

  h2 {
    font-size: $base-font-size * $ratio * $ratio;
    line-height: $rythm-unit-rem * $ratio * $ratio;
    margin: $rythm-unit-rem / $ratio;
    margin-left: $rythm-unit-rem * $margin-left-factor;
    margin-right: $rythm-unit-rem * $margin-right-factor;
  }

  h3 {
    font-size: $base-font-size * $ratio;
    line-height: $rythm-unit-rem * $ratio;
    margin: $rythm-unit-rem / ($ratio * $ratio);
    margin-left: $rythm-unit-rem * $margin-left-factor;
    margin-right: $rythm-unit-rem * $margin-right-factor;
  }

  p {
    font-size: $base-font-size;
    line-height: $rythm-unit-rem;
    margin: $rythm-unit-rem / ($ratio);
    margin-left: $rythm-unit-rem * $margin-left-factor;
    margin-right: $rythm-unit-rem * $margin-right-factor;
  }

  .row {
    display: flex;
  }

  .box {
    //padding: $rythm-unit-rem * 0.25;
    width: 50%;
    //border: 1px solid red;
    box-sizing: border-box;

    margin: $rythm-unit-rem;

    p {
      margin-left: 0;
      margin-right: 0;
      background-color: rgba(3, 3, 3, 0);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
